body {
    width: 100%;
    box-sizing: border-box;
}

.nav {
    margin: 0 5%;
    width: 80%;
    overflow: hidden;
    box-sizing: border-box;
}

.imagemLink {
    float: left;
    width: 5%;
    margin-right: 250px;
}

.imagemLink a img {
    width: 200px;
}

.links {
    display: flex;
    width: 68%;
    padding-top: 25px;
}

.links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.links li a {
    margin-top: 120px;
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.links li a:hover {
    color: green;
    transition: color 2s;
}

.links li a:nth-child(5) {
    background-color: red;
    font-size: 20px;
}

.imgTopo {
    background-image: url('../img/background1.jpg');
    background-size: cover;
    height: 500px;
}

.textoTopo {
    padding-top: 40px;
    margin-left: 15%;
    color: rgb(177, 171, 171);
    text-transform: uppercase;
}

.textoTopo h1 {
    line-height: 0.5;
    font-size: 30px;
}

.textoTopo h1 span {
    color: rgb(9, 145, 9);
}

.fas {
    color: rgb(9, 145, 9);
    font-size: 25px;
}

.textoTopoH2 {
    margin-top: 80px;
    font-size: 10px;
    font-weight: 100;
    width: 30%;
    line-height: 15px;
}

.textoTopoH2 a {
    margin-top: 10%;
    background-color: rgb(12, 206, 12);
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    color: rgb(25, 105, 25);
    font-size: 10px;
}

.segundoBackground {
    background-image: url('../img/background2.jpg');
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.textoInovacaoExperiencia {
    width: 50%;
    color: rgb(177, 171, 171);
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.textoInovacaoExperiencia h2,
.textoInovacaoExperiencia h3 {
    color: rgb(207, 203, 203);
    text-transform: uppercase;
    font-weight: bold;
}

.tempoRestante {
    width: 50%;
}

.tempoRestante {
    display: flex;
}

.tempoRestante div {
    display: block;
    background-color: white;
    height: 29%;
    border-radius: 5px;
    text-align: center;
    width: 17%;
    margin-right: 4%;
    margin-top: 24%;
    padding-bottom: 0;
    box-sizing: border-box;
}

.quadro h4 {
    color: green;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.quadro p {
    margin-top: -10px;
    background-color: green;
    font-size: 15px;
    color: white;
    padding: 4px;
    border-radius: 0px 0px 5px 5px;
}